pandas
numpy
setuptools
ipykernel
python-dotenv
pyspark
mlflow
scikit-learn
pymongo[srv]
pymongo
scipy
imblearn
category_encoders
feast
feast[postgres]
feast[redis]
confluent_kafka
httpx
authlib
fastavro
psycopg2
avro
xgboost
fastapi
uvicorn
streamlit
requests 
evidently
boto3

# -e .