pandas
numpy
setuptools
ipykernel
python-dotenv
boto3
pyspark
mlflow
scikit-learn
pymongo[srv]
pymongo
scipy
imblearn
category_encoders
feast[postgres]
feast[redis]
confluent_kafka
httpx
authlib
fastavro
psycopg2
avro
xgboost
fastapi
uvicorn
Jinja2
streamlit
requests 
evidently
dagshub

-e .